@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    background-color: aliceblue !important;
} */

.slick-prev {
    left: 3% !important;
    z-index: 1;
    color: yellow;
}

.slick-next {
    right: 3% !important;
    z-index: 1;
    color: yellow;
}